html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
}

main {
  background-color: white;
  /* width: 65%; */
  width: 125rem;
  height: 60rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.4);
  display: flex;
}

.img-container {
  flex: 1 1 50%;
  position: relative;
}

.faq-container {
  flex: 1 1 50%;
}

.no-overflow-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#bg-img {
  position: absolute;
  width: 160%;
  height: 160%;
  left: -75%;
  top: -25rem;
}

#woman-img {
  position: absolute;

  width: 95%;

  top: 10%;
  left: -15%;
}

#box-img {
  position: absolute;
  width: 35%;
  left: -17%;
  top: 37%;
}

.attribution {
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.separation {
  border-top: 1px solid hsl(240, 5%, 91%);
  width: 75%;
}

h1 {
  font-size: 4rem;
  margin-top: 8rem;
  margin-bottom: 3rem;
}

h2 {
  color: hsl(240, 6%, 50%);
  font-weight: 400;
}

h3 {
  color: hsl(240, 6%, 50%);
  font-weight: 400;
  font-size: 1.3rem;

  line-height: 1.9rem;
}

.question {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer {
  width: 75%;
  display: none;
}

.active {
  display: block;
}

.flip {
  transform: rotate(180deg);
}
